@tailwind base;
@tailwind components;
@tailwind utilities;

/* aspect-square max-w-72 h-auto min-h-[20rem] */

.ant-skeleton-image {
  width: 13rem !important;
  min-height: 13rem;
  aspect-ratio: 1 / 1;
}
